.sidebar__container {
    align-items: flex-start;
    width: 20%;
    min-width: 20rem;
    padding: 3rem 0rem;
    font-size: 2rem;
    gap: 1rem;
}

.sidebar__option {
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;
    width: 15rem;
}

.sidebar__option:hover {
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;
    width: 15rem;
    background-color: var(--secondary-color);
}

.sidebar__option--selected {
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 1rem 1rem 2rem;
    width: 15rem;
    color: var(--white-color);
    background-color: var(--primary-color);
}

.sidebar__option-text {
    font-size: 1.5rem;
    font-weight: 600;
}