.filter__dropdown {
    width: 30rem;
    background-color: var(--white-color);
    position: absolute;
    left: 40%;
    z-index: 2;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter__selections {
    gap: 1rem;
    font-size: 1.6rem;
}

.filter__selections label {
    cursor: pointer;
}

.filter__headings {
    padding-bottom: 1rem;
}

.filter__reset {
    text-decoration: underline;
    text-align: center;
    cursor: pointer;
}

.filter__labels,
.filter__priority {
    border-right: 1px solid black;
    padding-right: 1rem;
}