.edit-note__container {
    width: 37.5rem;
    margin-left: auto;
    margin-right: 20%;
    margin-top: 3rem;
    border: 1px solid var(--black-color);
    height: fit-content;
}

.edit-note__title {
    align-items: center;
    justify-content: space-around;
    background-color: inherit;
}

.edit-title__input {
    padding: 1rem;
    font-size: 2rem;
    border: none;
    font-weight: bold;
    background-color: inherit;
}

.edit-title__input:focus {
    outline: none;
}

.pinned {
    color: var(--primary-color);
    cursor: pointer;
}

.unpinned {
    color: var(--gray-color);
    cursor: pointer;
}

.edit-note__label{
    margin: 0 1rem;
    padding: 2px 5px;
    font-size: 1.4rem;
    background-color: var(--secondary-color);
    width: fit-content;
    cursor: pointer;
}

.edit-note__priority {
    margin: 0 1rem;
    padding: 2px 5px;
    font-size: 1.4rem;
    width: fit-content;
    color :var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: auto;
}

.edit-note__bottom {
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    justify-content: space-between;
}

.edit-note__optionpicker {
    position: relative;
    align-items: center;
    gap: 1rem;
}

.edit-note__optionpicker>.material-icons {
    font-size: 3rem;
    color: var(--primary-color);
    cursor: pointer;
}

.label__list,
.priority__list {
    position: absolute;
    background-color: var(--white-color);
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    cursor: pointer;
}

.label__list {
    top: 3rem;
    left: 3rem;
}

.priority__list{
    top:3rem;
    left:6rem;
}

.label__list>div,.priority__list>div {
    font-size: 1.6rem;
    width: 7rem;
    padding: 5px;
}

.label__list>div:hover,.priority__list>div:hover {
    background-color: var(--secondary-color);
}

.color__list {
    position: absolute;
    top: 4rem;
    left: 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    gap: 1rem
}

.color__list>div {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.color__list>div:hover {
    border: 2px solid var(--white-color);
}

.color1 {
    background-color: var(--white-color);
}

.color2 {
    background-color: var(--sky-blue);
}

.color3 {
    background-color: var(--baby-pink);
}

.color4 {
    background-color: var(--aqua-green);
}


.btn.edit-note__add {
    padding: 0.5rem;
}