.header__container {
    position: relative;
}

.nav__account__container {
    align-items: center;
}

.material-icons.account-icon {
    font-size: 4rem;
}

li:hover>.dropdown-list {
    font-weight: 400;
}

.dropdown-list {
    width: 10rem;
    background-color: var(--white-color);
    text-align: center;
    position: fixed;
    right: 0;
    z-index: 2;
}

nav>li:hover {
    font-weight: 600;
}