.footer {
    background-color: var(--black-color);
    padding: 2rem 0rem;
    text-align: center;
    color: white;
    margin-top: 5rem;
}

.footer__links{
    align-items: center;
    justify-content: center;
}

.footer__socials {
    color: var(--white-color);
    padding: 2rem;
    font-size: 4rem;
}

hr {
    margin: 2rem;
    border: 0;
    height: 4px;
    background-image: linear-gradient(to right, #ffffff00, #ffffffbf, #ffffff00);
  }