.landingpage__container{
    min-height: 90vh;
    align-items: center;
    justify-content: space-around;
}
.landingpage__aside{
    align-items: center;
    justify-content: space-around;
    text-align: center;
    gap:10rem;
}

.hero__img{
    height: 30rem;
}